{% extends "base.html" %}
{% from "_macro/_formhelpers.html" import field_error %}

{% block title %}Log in | Virtual Judge{% endblock %}

{% block page_content %}
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Log in</a></li>
  </ul>
  <div class="col-md-12 content">
    <form method=post class="form-horizontal" action="/auth/login">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
      <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
        <div class="form-group">
          {{ form.username.label(class="col-sm-4 control-label") }}
          <div class="col-sm-4">
            {{ form.username(class="form-control") }}
          </div>
            {{ field_error(form.username) }}
        </div>
        <div class="form-group">
          {{ form.password.label(class="col-sm-4 control-label") }}
          <div class="col-sm-4">
            {{ form.password(class="form-control") }}
          </div>
            {{ field_error(form.password) }}
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-4">
            <div class="checkbox">
              <label>
                {{ form.remember_me }}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" class="btn btn-default">Sign in</button>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}
